.bottom {
  height: 40px;
  background-color: rebeccapurple;
}

.awesome-marker .icon {
  margin-top: 5px;
  font-size: 18px;
}



.map-root .message-root {
  width: 100%;
  display: flex;
  height: auto;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center; // 文字水平居中
  z-index: 1000;
}

.map-root .message{  
  margin: 10px 0;
  padding: 5px;
  background-color: white;
}

.icon-luxian{
  font-size: 1.5em;
}